body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
header .contact {
    font-size: 0.9em;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 62px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4E5FA;
    padding: 62px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
.intro {
    max-width: 600px;
}
.intro h1 {
    font-size: 2em;
    margin: 0 0 10px;
}
.intro p {
    font-size: 1.2em;
    color: #666;
}
.links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
    padding-right: 15px;
}
.links a::after {
   
    position: absolute;
    right: 0;
    color: #333;
}
.profile-pic {
    max-width: 300px;
    border-radius: 50%;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    main, section {
        flex-direction: column;
        text-align: center;
    }
    .profile-pic {
        max-width: 200px;
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    main, section {
        padding: 40px 20px;
    }
    .intro h1 {
        font-size: 1.5em;
    }
    .intro p {
        font-size: 1em;
    }
    .links a {
        margin-right: 5px;
    }
}